.gallery-section {
  padding: 24px 156px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  max-width: calc(360px * 3 + 24px * 2);

  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.gallery-item {
  width: 360px;
  height: 200px;
  overflow: hidden;
}

.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
